    body
{
    background-color : #484848;
    margin: 0;
    padding: 0;
}

form
{
	 width: 300px;
	 margin: 0 auto;
    align:"center";
}
p
{
	width: 300px;
	 margin: 0 auto;
    align:"center";
}